{{#if editListingForm}}
<h1>Edit Listing</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="listingTitle"}}
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        {{input value=email id="email"}}
      </div>

      <div class="form-group">
        <label for="title">Price</label>
        {{input value=price id="price"}}
      </div>

      <div class="form-group">
        <label for="title">Date</label>
        {{input value=date id="date" type="date"}}
      </div>

      <div class="form-group">
        <label for="title">Location</label>
        {{input value=location id="location"}}
      </div>

      <div class="form-group">
        <label for="title">Description</label>
        {{input value=description id="description"}}
      </div>

      <div class="form-group">
        <label for="title">Image</label>
        {{input value=image id="image"}}
      </div>

      <button {{action 'saveListing' listing}}>Save</button>
    </form>
  </div>
{{else}}
  <a><span class="glyphicon glyphicon-pencil" aria-hidden="true" {{action 'listingFormShow' on="click"}}></span></a>

{{/if}}
