{{#if addNewListing}}
<h1>New Listing</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        {{input value=email id="email"}}
      </div>

      <div class="form-group">
        <label for="title">Price</label>
        {{input value=price id="price"}}
      </div>

      <div class="form-group">
        <label for="title">Date</label>
        {{input value=date id="date" type="date"}}
      </div>

      <div class="form-group">
        <label for="title">Location</label>
        {{input value=location id="location"}}
      </div>

      <div class="form-group">
        <label for="title">Description</label>
        {{input value=description id="description"}}
      </div>

      <div class="form-group">
        <label for="title">Image</label>
        {{input value=image id="image"}}
      </div>

      <button {{action 'saveListing'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-default" {{action 'listingFormShow'}}>New Listing</button>

{{/if}}
