<h3>Listings</h3>
<div class="sort-listing">
  Sort
  {{radio-button value="date" groupValue=sortBy}} Date
  {{radio-button value="title" groupValue=sortBy}} Title
  {{radio-button value="price" groupValue=sortBy}} Price
</div>

  {{#each sortedListings as |listing|}}
  <div class="row">
    <div class="col-md-3">
      <img src={{listing.image}} class="icon" />
    </div>
      <div class="col-md-6">
    {{#link-to 'listing' listing.id}}
      <h4>{{listing.title}}</h4>
    {{/link-to}}
      <p>{{listing.date}}  ${{listing.price}}</p>
        </div>
        <div class="col-md-3">
          {{edit-listing listing=listing category=model updateListing="updateListing"}}
          {{delete-listing listing=listing category=model removeListing="removeListing"}}
        </div>
    </div>
  {{/each}}
